:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #adc5cd;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  height: 100px;
  width: auto;
  border-color: black;
  border: 2px solid;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

section{
  /* display: flex; */
  height:fit-content;
}
/* body{
  background-color: rgb(66, 91, 67);
} */
h2{
  color: rgb(0, 0, 0);
  /* text-transform: capitalize; */
  /* text-align: center; */
  margin-left:20px;
  margin-top: 4%;
  margin-bottom: 3%;
  font-size:medium;
  font-weight: bold;
}
h1{
  padding:30px;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-align: center;
}
p{
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  text-align: left;
  margin-left:20px;
  width:auto;
  margin-top: 2%;
  margin-bottom: 1%;
  background-color: #ffffff;
  border-color: black;
  border: 2px solid;
  font-size: smaller;
  font-weight: bold;
}
div{
  height: 300px;
  width: auto;
}
button{
  margin-left:20px;
  margin-top: 3%;
  margin-bottom: 10%;
}
